@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
	overflow: hidden;
}

html,
body {
	@apply flex flex-col min-h-screen w-full bg-body-background-blue;
}

* {
	font-family: 'Gotham-Medium', sans-serif;
	font-family: 'iCiel Gotham', sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

/* Calendar styles */
.fc .fc-toolbar-title {
	font-family: 'Gotham-Medium', sans-serif;
	font-size: 1.5rem;
}

@media (max-width: 640px) {
	.fc .fc-toolbar-title {
		font-family: 'Gotham-Medium', sans-serif;
		font-size: 1rem;
	}
}

.padding {
	@apply px-mobile-padding-x tablet:px-tablet-padding-x laptop:px-laptop-padding-x;
}

@media (prefers-reduced-motion: no-preference) {
	.slides-in {
		@apply opacity-0 translate-y-10 transition-all duration-500;
	}

	.slides-in.slides-in--visible {
		@apply opacity-100 translate-y-0;
	}
}

@layer base {
	@font-face {
		font-family: 'Gotham-Book';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/gothambook-webfont.woff') format('woff');
	}

	@font-face {
		font-family: 'Gotham-Medium';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/gothammedium-webfont.woff') format('woff');
	}

	@font-face {
		font-family: 'Gotham-Light';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/gothamlight-webfont.woff') format('woff');
	}

	@font-face {
		font-family: 'Archer-Medium';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/archermedium-webfont.woff') format('woff');
	}

	@font-face {
		font-family: 'Archer-Book';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/archerbook-webfont.woff') format('woff');
	}

	@font-face {
		font-family: 'Archer-Light';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/archerlight-webfont.woff') format('woff');
	}
}
