@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
	overflow: hidden;
}

@layer base {
	@font-face {
		font-family: 'Gotham-Book';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/GothamBook.ttf') format('TrueType');
	}

	@font-face {
		font-family: 'Gotham-Medium';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/GothamMedium.otf') format('opentype');
	}

	@font-face {
		font-family: 'Gotham-Light';
		font-style: normal;
		font-weight: 500;
		font-display: swap;
		src: url('/fonts/GothamLight.otf') format('opentype');
	}

	@font-face {
		font-family: 'Archer-Medium';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/ArcherMedium.ttf') format('TrueType');
	}

	@font-face {
		font-family: 'Archer-Book';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/ArcherBook.otf') format('opentype');
	}

	@font-face {
		font-family: 'Archer-Light';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/ArcherLight.otf') format('opentype');
	}

	.padding {
		@apply px-mobile-padding-x tablet:px-tablet-padding-x laptop:px-laptop-padding-x;
	}

	@media (prefers-reduced-motion: no-preference) {
		.slides-in {
			@apply opacity-0 translate-y-10 transition-all duration-500;
		}

		.slides-in.slides-in--visible {
			@apply opacity-100 translate-y-0;
		}
	}
}
